<div *ngIf="loading">Loading...</div>
<div *ngIf="error">{{ error }}</div>

<div *ngIf="merit">
  <div class="detail-container">
    <div class="header-row">
      <h2>{{ merit?.title }}</h2>
    </div>
    <h3 class="merit-date">{{ merit.date | date : "mediumDate" }}</h3>
    <p class="description">{{ merit?.description }}</p>

    <app-image-gallery [images]="merit.image_urls"></app-image-gallery>

    <div class="button-row">
      <button
        mat-stroked-button
        color="primary"
        (click)="onBack()"
        aria-label="Back"
      >
        Back
      </button>
      <ng-container *ngIf="isLoggedIn()">
        <button
          mat-flat-button
          color="accent"
          (click)="onEdit()"
          aria-label="Edit"
        >
          Edit
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="onDelete()"
          aria-label="Delete"
        >
          Delete
        </button>
      </ng-container>
    </div>
  </div>
</div>
